apiVersion: apps/v1
kind: Deployment
metadata:
  name: backend-deployment
  namespace: food-dev

spec:
  replicas: 3
  selector:
    matchLabels:
      app: backend
  template:
    metadata:
      name: backend-pod
      namespace: food-dev
      labels:
        app: backend
    spec:
      containers:
      - name: backend-food
        image: food-delevery-backend:latest
        ports:
        - containerPort: 4000

---

apiVersion: v1
kind: Service
metadata:
  name: backend-service
  namespace: food-dev

spec:
  selector:
    app: backend
  ports:
    - protocol: TCP
      port: 4000
      targetPort: 4000
  type: ClusterIP