apiVersion: apps/v1
kind: Deployment 
metadata:
  name: frontend-deployment
  namespace: food-dev
  labels:
    app: frontend
spec:
  replicas: 3
  selector:
    matchLabels:
      app: frontend
  template:
    metadata:
      name:  frontend-pod
      namespace: food-dev
      labels:
        app: frontend
    spec:
      containers:
      - name: foodapp-frontend
        image: vishnuvardhan225/food-frontend:latest
        ports:
        - containerPort: 3000
        env:
        - name: HOST
          value: "0.0.0.0"