apiVersion: v1
kind: PersistentVolume
metadata:
  name: mongodb-pv
  namespace: food-dev
spec:
  capacity:
    storage: 5Gi
  accessModes:
    - ReadWriteOnce
  persistentVolumeReclaimPolicy: Delete
  hostPath: 
    path: /data