apiVersion: apps/v1
kind: Deployment 
metadata:
  name: mongodb-deployment
  namespace: food-dev
  labels:
    app: mongodb
spec:
  replicas: 3
  selector:
    matchLabels:
      app: mongodb
  template:
    metadata:
      name:  mongodb-pod
      namespace: food-dev
      labels:
        app: mongodb
    spec:
      containers:
      - name: foodapp-mongodb
        image: mongo:latest
        ports:
        - containerPort: 27017
        env:
        - name: MONGO_INITDB_ROOT_USERNAME
          value: "admin"
        - name: MONGO_INITDB_ROOT_PASSWORD
          value: "password"
      volumes:
        - name: mongodb-storage
          persistentVolumeClaim:
            claimName: mongodb-pvc
       